<html ng-app="app.todos">
    <header>
        <title>

        </title>
        <link rel="stylesheet" href="assets/css/style.css">

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
        <script src="assets/js/main/app.js"></script>
    </header>
    <body ng-controller = "todoController">
        <h1>{{appName}}</h1>
        <button ng-click="count = count + 1" ng-init="count=0">
            Increment
          </button>
          <span>
            count: {{count}}
          </span>
    </body>
</html>