
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="assets/css/cssLogin.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
    <div id="login">
        <form>
          <h1>Sign In</h1>
          <input type="text" placeholder="Username">
          <input type="password" placeholder="Password">
          <button>Sign in</button>
          <a href="">Create account ?</a>
        </form>
      </div>
      <div id="loginfb">
        <form>
          <h1>Facebook Login</h1>
          <div class="footer-social">
            <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
        </div>
        </form>
      </div>
      </div>
</body>
</html>


