
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="assets/css/cssLogin.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
    <div id="login">
        <form id="form-login">
          <h1>Sign In</h1>
          <input type="text" placeholder="Username" name="username" id="email">
          <input type="password" placeholder="Password" name="password" id="password">
          <button type="submit">Sign in</button>
          <a href="http://localhost:9000/register">Create account ?</a>
        </form>
      </div>
      <div id="loginfb">
        <form>
          <h1>Facebook Login</h1>
          <div class="footer-social">
            <a href="#" onclick='login();' target="_blank"><i class="fa fa-facebook"></i></a>
        </div>
        </form>
      </div>
      </div>
    

      <script src="assets/libs/jquery.min.js"></script>
      <script src="assets/js/user/login-page.js"></script>
      
      <div id="fb-root"></div>
<script type="text/javascript">
//<![CDATA[
window.fbAsyncInit = function() {
   FB.init({
     appId      : '185280939204706', // App ID
     channelURL : 'http://localhost:9000/home', // Channel File, not required so leave empty
     status     : true, // check login status
     cookie     : true, // enable cookies to allow the server to access the session
     oauth      : true, // enable OAuth 2.0
     xfbml      : false  // parse XFBML
   });
};
// logs the user in the application and facebook
function login(){
FB.getLoginStatus(function(r){
     if(r.status === 'connected'){
            window.location.href = 'home';
     }else{
        FB.login(function(response) {
                if(response.authResponse) {
              //if (response.perms)
                    window.location.href = 'home';
            } else {
              // user is not logged in
            }
     },{scope:'email'}); // which data to access from user profile
 }
});
}
// Load the SDK Asynchronously
(function() {
   var e = document.createElement('script'); e.async = true;
   e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
   document.getElementById('fb-root').appendChild(e);
}());
//]]>
</script>
</body>
</html>


