
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="assets/css/cssLogin.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
    <div id="login">
        <form id="form-login">
          <h1>Sign In</h1>
          <input type="text" placeholder="Username" name="username" id="username">
          <input type="password" placeholder="Password" name="password" id="password">
          <button type="submit">Sign in</button>
          <a href="http://localhost:9000/register">Create account ?</a>
        </form>
      </div>
      <div id="loginfb">
        <form>
          <h1>Facebook Login</h1>
          <div class="footer-social">
            <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
        </div>
        </form>
      </div>
      </div>

      <script src="assets/libs/jquery.min.js"></script>
      <script src="assets/js/login-page.js"></script>
</body>
</html>


