<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
    <meta name="keywords" content="Poyo T-Shirt">
    <meta name="description" content="Poyo T-Shirt">
    <title>Poyo T-Shirt</title>
    <link href="/frontend/css/bootstrap.min.css" rel="stylesheet">
    <link href="/frontend/css/style.css?v=1588151773" rel="stylesheet">
    <script src="/shared/js/jquery-1.12.4.min.js"></script>
    <link rel="shortcut icon" href="/favicon.ico?v=1588151773">
    <script type="text/javascript">
        var WEB_URL = "/";
        var commands = [];
    </script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <header class="header">
        <div class="container">
            <a class="logo" href="/" target="_self" title="PayCEC">
                <img class="hidden-sm hidden-xs is-fixed" src="/frontend/images/logo.svg?v=1588151773" alt="PayCEC"
                    title="PayCEC">
                <img class="hidden-md is-fixed" src="/frontend/images/logo-fixed.svg?v=1588151773" alt="PayCEC"
                    title="PayCEC">
            </a>
        </div>
    </header>
    <div class="full-w-ab full-img">
        <img class="hidden-xs" src="/frontend/images/bg-dev.jpg" alt="Developer PayCEC" title="Developer PayCEC">
        <img class="hidden-md hidden-sm" src="/frontend/images/bg-dev-xs.jpg" alt="Developer PayCEC"
            title="Developer PayCEC">
    </div>
    <div>
        <div class="container">
            <div class="big-box">
                <div class="row d-flex d-xs-block">
                    <div class="col-md-6">
                        <div class="logo-wrapper">
                            <a href="/" target="_self" title="Product">
                                <img src="/frontend/images/merchant-logo.svg" title="Sample Logo" alt="Sample Logo" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 mgbottom-10">
                        <div class="d-table">
                            <div class="d-cell text-16 text-main">
                                <strong>
                                    <a href="/cart" target="_self" title="Cart" class="totl-cart">
                                        <span onclick="window.location.href='/cart'">
                                            <img style="vertical-align: -5px" src="/frontend/images/icon-cart.svg?v=2"
                                                title="Cart" alt="Cart"> Cart: <span id="cart">0</span> item </span>
                                    </a>
                                </strong>
                            </div>
                        </div>
                        <div class="demoSiteBanner">
                            <div class="demosite-text">Demo site</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center mgbottom-20">
                        <h1>Poyo T-Shirt</h1>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-6 mgbottom-30">
                                <h3>Price: €62</h3>
                                <p>
                                    Adipisicing culpa sint cillum eiusmod. Dolor reprehenderit magna velit non culpa ea
                                    dolor laborum est nulla deserunt minim. </p>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="colorOptions">
                                            <label for="color">Choose a trim color:</label>

                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="color" value="Red" checked>
                                                    Red </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="color" value="Green">
                                                    Green </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="color" value="Blue">
                                                    Blue </label>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="sizeOptions" id="sizeOptions">
                                            <label for="size">Choose a size:</label>

                                            <div class="radio">
                                                <label>
                                                    <input class="size" type="radio" name="size" id="size1"
                                                        value="Small" checked>
                                                    Small </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input class="size" type="radio" name="size" id="size2"
                                                        value="Medium">
                                                    Medium </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input class="size" type="radio" name="size" id="size3"
                                                        value="Large">
                                                    Large </label>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group text-center width100">
                                    <button name="add" type="button" class="btn btn-extra mgright-5 mgbottom-10 add"
                                        value="12">Add to cart
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-6 mgbottom-30">
                                <img class="full"
                                    src="https://d35g50idphdwg7.cloudfront.net/upload/yellowT-1586320579.png"
                                    alt="Poyo T-Shirt" title="Poyo T-Shirt">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h2 class="text-center">Your Cart</h2>
                        <table class="table table-most">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody id="list_items">
                            </tbody>
                        </table>
                        <div class="text-center panel-footer">
                            <button id="checkout" class="btn btn-extra" onclick="window.location.href='/cart'">
                                View Cart
                            </button>
                        </div>
                    </div>
                    <script>
                        commands.push(function () {
                            $(".btn.add").click(function () {
                                var radioSizeValue = $("input[name='size']:checked").val();
                                if (radioSizeValue) {
                                    console.log("Your are a - " + radioSizeValue);
                                }
                                var radioColorValue = $("input[name='color']:checked").val();
                                if (radioColorValue) {
                                    console.log("Your are a - " + radioColorValue);
                                }
                                var total = parseInt($('#cart').text());
                                var i = 12;
                                $('#cart').text(total);
                                $.ajax({
                                    type: "POST",
                                    url: "/cart/additem",
                                    data: { productid: i, radioSizeValue: radioSizeValue, radioColorValue: radioColorValue },
                                    dataType: "html",
                                    success: function (response) {
                                        $("#list_items").html(response).show();
                                        var total = parseInt($('#ttlQty').text());
                                        $('#cart').text(total);
                                        alert('Add new product successfully!');
                                    },
                                    error: function () {
                                        alert("Problem communicating with the server");
                                    }
                                });
                            });
                        });
                    </script>

                </div>
                
            </div>
        </div>
    </div>
    <script src="/frontend/js/bootstrap.min.js"></script>
    <script src="/frontend/js/style.min.js"></script>
    <script>
        for (var __i = 0; __i < commands.length; __i++) {
            commands[__i]();
        }
    </script>
</body>

</html>